body{
    padding: 80px 0 0 0; /* 顶部留出导航栏空间 */
    margin: 0;
    border: 0;
}
.flex-Top{
    width: 100%;
    background-color: #ffffff;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: top 0.3s ease;
}
.flex-Top.hide{
    top: -80px; /* 向上移动自身高度（80px），实现隐藏 */
}
.logo{
    float: left;
    width: auto;
    max-height: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list a{
    display: block;
    float: right;
    padding: 25px 30px 25px 30px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.mark_fill.colorDeep {
    display: none; /* 针对个人回答的隐藏 */
}
